.Carta2 {

    margin: 0 auto;

    border-radius: 10px;

    overflow: hidden;

    display: grid;

    width: 100%;

    height: 135px;

    grid-template-columns: 50% 50%;

    grid-template-rows: 30% 70%;

    margin-bottom: 10px;

}



.back-work {

    background: var(--Light-red-work);

}



.back-play {

    background: var(--Soft-blue-play);

}



.back-study {

    background: var(--Light-red-study);

}



.back-exercise {

    background: var(--Lime-green-exercise-);

}



.back-social {

    background: var(--Violet-social);

}



.back-self {

    background: var(--Soft-orange-self-care);

}
.imgtrabajo {

    display: grid;

    grid-column: 1/3;

    justify-content: end;

}



.imgtrabajo img {

    position: relative;

    bottom: 10px;

    right: 17px;

}
@media (min-width: 1024px) {

    .Carta2 {

        height: 100%;

        grid-template-rows: 20% 80%;

    }

}

