.Carta1 {

    background-color: var(--Dark-blue);
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 10px;
    width: 100%;

}
.abajo {
    display: flex;
    justify-content: space-around;
     padding: 17px 5px;

}



.abajo span {

    color: var(--Pale-Blue);

    font-size: 12px;

}
@media (min-width: 1024px) {

    .Carta1 {

        margin: 0;

    }

    .abajo {

        flex-direction: column;

    }

    .abajo span {

        padding: 8px 20px;

    }

}