:root {

  --Blue: hsl(246, 80%, 60%);

  --Light-red-work: hsl(15, 100%, 70%);

  --Soft-blue-play: hsl(195, 74%, 62%);

  --Light-red-study: hsl(348, 100%, 68%);

  --Lime-green-exercise-: hsl(145, 58%, 55%);

  --Violet-social: hsl(264, 64%, 52%);

  --Soft-orange-self-care: hsl(43, 84%, 65%);

  --Very-dark-blue: hsl(226, 43%, 10%);

  --Dark-blue: hsl(235, 46%, 20%);

  --Desaturated-blue: hsl(235, 45%, 61%);

  --Pale-Blue: hsl(236, 100%, 87%);

  --Name-status-font-size: 18px;

}



html,

body {

  margin: 0;

  box-sizing: border-box;

  font-family: 'Outfit', sans-serif;

  font-family: 'Rubik', sans-serif;

}



body {

  background: var(--Very-dark-blue);

  padding: 0 30px;

  height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: flex-start;

}
@media (min-width: 1024px) {

  body {

      padding: 10vh 6vw 0;

      display: block;

  }

  .App {

      display: grid;

      height: 430px;

      grid-template-columns: 1fr 1fr 1fr 1fr;

      grid-template-rows: 1fr 1fr;

      grid-gap: 1rem;

  }

  .Carta1 {

      grid-row: 1/3;

  }

}
